<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        <%=title%>
    </title>
    <meta name="description" content="create account">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- bootstrap -->

    <!-- validate -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <!-- validate -->

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <!-- custom scripts -->
    <script type="text/javascript" src="js/register.js"></script>
</head>

<body>
    <div class="login-page">
        <h1 class="text-center">Sign Up</h1>
        <div class="form">
            <form id="registerForm" action="/register" method="POST">
                <% if(msg) { %>
                    <label><%=msg%></label>
                <% } %>

                <input type="text" id="username" name="username" placeholder="Username"
                    <% if(username) { %> value="<%=username%>" <% } %> autofocus />

                <input type="password" id="passwordRegister" name="passwordRegister" placeholder="Password"
                    <% if(password) { %> value="<%=password%>" <% } %> />

                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password"
                    <% if(password) { %> value="<%=password%>" <% } %> />

                <input type="submit" value="Sign Up"/>
                <p class="message">Already have an account? 
                    <a href="/login">Login</a>
                </p>
            </form>
        </div>
    </div>
</body>
</html>